body{
  background: #03244d;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.header{
  text-align: center;
}

h1{
  color: white;
  background: #fff url(california.svg) 100% 45% no-repeat;
  background-size: auto 350%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  margin: 0.125em 0;
  padding: 0;
  font-weight: black;
}

#map-widget{
  max-width: 35em;
  margin: 0 auto;
  display: block;
  position: relative;
}

.map{
  margin-top: -5%;
  max-width: 100%;
}

.disc{
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 10%;
  height: 5%;
  box-shadow: 0 2px 6px #333, 0 -3px 3px #333 inset;
  min-height: 20px;
  -webkit-animation: disc_fly 5s infinite;
}

.letter{
  margin: 1em auto;
  text-align: center;
}

.letter .pics{
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 51em;
}

.letter .pics li{
  max-width: 25em;
  display: inline-block;
}

a:link, a:visited{
  color: #dd550c;
  text-decoration: none;
}

a:hover, a:active{
  color: #dd550c;
  text-decoration: underline;
}

img{
  max-width: 100%;
}

@media (screen-width-max: 320px){
  .fornia{
    display: none;
  }
}